.App {
  height: 100vh;
  background-image: url(./heart.jpg);
  background-size: 14rem;
}

.App .bg-overlay {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d8d6e66;
}

.text-inputs input,
.calculate-btn,
.clear-btn {
  border: none;
  border-radius: 2rem;
  height: 2rem;
  width: 14rem;
  outline: none;
  padding: 0px 15px;
  font-family: inherit;
}

.text-inputs span {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.calculate-btn,
.clear-btn {
  background-color: #457e6f;
  color: #ffffff;
  font-size: 1.1rem;
  height: 2.5rem;
  margin-top: 1rem;
}

.calculate-btn:hover,
.calculate-btn:disabled,
.clear-btn:hover,
.clear-btn:disabled {
  background-color: #6eb9a5;
}

.calculate-btn:active,
.clear-btn:active {
  background-color: #457e6f;
}

.results span {
  display: block;
  text-align: center;
  color: #12362d;
  font-size: 3rem;
  font-weight: bold;
}